USE [master]
GO
/****** Object:  Database [pharmacy_management]    Script Date: 10/31/2023 12:25:42 PM ******/
CREATE DATABASE [pharmacy_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pharmacy_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pharmacy_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pharmacy_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pharmacy_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pharmacy_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pharmacy_management]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[IdBill] [int] IDENTITY(1,1) NOT NULL,
	[IdCus] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[PriceTotal] [float] NOT NULL,
	[IdEmp] [int] NOT NULL,
 CONSTRAINT [PK__Bill__24A2D64DAA95F5BB] PRIMARY KEY CLUSTERED 
(
	[IdBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[IdCus] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](255) NULL,
	[PhoneNumber] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrugCategory]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrugCategory](
	[IdCate] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IdEmp] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](10) NOT NULL,
	[Last_Name] [nvarchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [bit] NULL,
	[Addres] [nvarchar](500) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Username] [nvarchar](20) NOT NULL,
	[IdMng] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[IdID] [int] IDENTITY(1,1) NOT NULL,
	[IdBill] [int] NOT NULL,
	[IdMedin] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[IdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medincine]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medincine](
	[IdMedin] [int] IDENTITY(1,1) NOT NULL,
	[MaCTHDN] [int] NULL,
	[INNCode] [nvarchar](20) NOT NULL,
	[NameMedin] [nvarchar](50) NOT NULL,
	[IdCate] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SellingPrice] [float] NOT NULL,
	[IdUnit] [int] NOT NULL,
	[content] [nvarchar](500) NULL,
	[productionDate] [nvarchar](500) NULL,
	[ExpirationDate] [date] NULL,
	[DosageForm] [nvarchar](500) NULL,
	[firstPrice] [float] NULL,
	[Classify] [nchar](50) NULL,
	[ingredient] [nchar](50) NULL,
	[PathImg] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Medincin__EF801867895632CD] PRIMARY KEY CLUSTERED 
(
	[IdMedin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierInvoice]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierInvoice](
	[MaCTHDN] [int] IDENTITY(1,1) NOT NULL,
	[INNCode] [nvarchar](20) NOT NULL,
	[Supplier] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHDN] ASC,
	[INNCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 10/31/2023 12:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[IdUnit] [int] IDENTITY(1,1) NOT NULL,
	[NameUnit] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__IdCus__5812160E] FOREIGN KEY([IdCus])
REFERENCES [dbo].[Customers] ([IdCus])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__IdCus__5812160E]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__IdEmp__571DF1D5] FOREIGN KEY([IdEmp])
REFERENCES [dbo].[Employee] ([IdEmp])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__IdEmp__571DF1D5]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([IdMng])
REFERENCES [dbo].[Employee] ([IdEmp])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Bill] FOREIGN KEY([IdBill])
REFERENCES [dbo].[Bill] ([IdBill])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Bill]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Medincine] FOREIGN KEY([IdMedin])
REFERENCES [dbo].[Medincine] ([IdMedin])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Medincine]
GO
ALTER TABLE [dbo].[Medincine]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_DrugCategory] FOREIGN KEY([IdCate])
REFERENCES [dbo].[DrugCategory] ([IdCate])
GO
ALTER TABLE [dbo].[Medincine] CHECK CONSTRAINT [FK_Medicine_DrugCategory]
GO
ALTER TABLE [dbo].[Medincine]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_SupplierInvoice] FOREIGN KEY([MaCTHDN], [INNCode])
REFERENCES [dbo].[SupplierInvoice] ([MaCTHDN], [INNCode])
GO
ALTER TABLE [dbo].[Medincine] CHECK CONSTRAINT [FK_Medicine_SupplierInvoice]
GO
ALTER TABLE [dbo].[Medincine]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_Unit] FOREIGN KEY([IdUnit])
REFERENCES [dbo].[Unit] ([IdUnit])
GO
ALTER TABLE [dbo].[Medincine] CHECK CONSTRAINT [FK_Medicine_Unit]
GO
USE [master]
GO
